@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables

    Variables del proyecto original
    --color-primario: #000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22d4fd;
    --color-hover: #272727;

    Varibles alternativas 1
    --color-primario: #27445D;
    --color-secundario: #497D74;
    --color-terciario: #71BBB2;
    --color-hover: #EFE9D5;

    Variables alternativas 2
    --color-primario: #5C7285;
    --color-secundario: #818C78;
    --color-terciario: #A7B49E;
    --color-hover: #E2E0C8;
*/



:root {
    /*  */
    --color-primario: #5C7285;
    --color-secundario: #818C78;
    --color-terciario: #A7B49E;
    --color-hover: #E2E0C8;

    --fuente-krona-one: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;

    --8px: 0.5rem;
    --12px: 0.75rem;
    --24px: 1.5rem;
    --36px: 2.25rem;
    --48px: 3rem;
    --72px: 4.5rem;
    --96px: 6rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /* height: 100vh; */
    box-sizing: border-box;
}

.header {
    padding: 2% 0 0 5%;
}

.header__menu {
    display: flex;
    gap: 80px;    
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: var(--24px);
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 5%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    /* width: 615px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: var(--36px);
    font-family: var(--fuente-krona-one);    
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto {
    font-size: var(--24px);
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona-one);
    font-size: var(--24px);
    font-weight: 400;
}

.presentacion__enlaces__link {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    /* width: 378px; */
    width: 50%;
    border-radius: 8px;
    text-align: center;
    padding: 21.5px 0;
    font-family: var(--fuente-montserrat);
    font-size: var(--24px);
    font-weight: 600;
    text-decoration: none;
}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
    width: 416px;
    gap: 20px;
    font-size: 29px;
    cursor: pointer;
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    background-color: var(--color-terciario);
    padding: var(--24px);
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: var(--24px);
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;    
    }


    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: 100%;
    }

}



